.appHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #38244F;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;

}

.appHeader a {
    text-decoration: none;
    color: white;
}

.appHeader a:hover {
    text-decoration: underline;
}
